/* Variables */

:root {
  --basik-yellow: #ffbf47;
  --basik-light-yellow: #ffd180;
  --basik-extra-yellow: #ffc047;
  --basik-red: #ee3643;
  --basik-dark-red: #ba2732;
  --basik-special-red: #ca2c37;
  --basik-green: #63a63e;
  --basik-light-green: #8ed78f;
  --basik-dark-green: #518534;
  --basik-inner-green: #367315;
  --basik-special-green: #5fbb2d;
  --basik-ligth-blue: #3bbce3;
  --basik-purpur: #dc91d8;
  --basik-extra-gray: #293449;
  --basik-dark-blue: #212a3a;
  --basik-extra-black: #161d29;
  --basik-super-extra-dark: #1d2739;
  --basik-dark-gray: #32425c;
  --basik-special-gray: #3d546f;
  --basik-black: #000000;
  --basik-tru-dark: #444444;
  --basik-dim-gray: #a9a9a9;
  --basik-white: #ffffff;
  --basik-gray: #b7bfc8;
  --basik-light-gray: #f1f5f7;
  --basik-tru-gray: #c5c5c5;
  --basik-super-gray: #b5b5b5;
  --basik-backgraund-gray: #e5e5e5;
  --basik-soft-gray: #c1c6ce;
  --basik-form-gray: #f4f4f4;
  --basik-softdim-gray: #eaeaea;
  --basik-light-dark: #f2f6f8;
  --basik-lightdim-gray: #f3f7f9;
  --basik-sand-yellow: #f7f3ec;
  --basik-neitral: #f9f5f0;
  --basik-transparent-black: rgba(0, 0, 0, 0.0001);
  --basik-transparent-white: rgba(255, 255, 255, 0.3);
  --basik-transparent-gray-white: rgba(255, 255, 255, 0.5);
  --basik-transparent-gray: rgba(197, 197, 197, 0.3);
  --basik-transparent-dimgray: rgba(169, 169, 169, 0.3);
  --basik-shadow-black: rgba(0, 0, 0, 0.24);
  --basik-shadow-gray: rgba(0, 0, 0, 0.15);
}

/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basik-white);
  background-color: var(--basik-white);
}

a {
  text-decoration: none;
  color: var(--basik-white);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 }

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button-link {
  background-color: var(--basik-red);
  color: white;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.button-link:hover {
  background-color: var(--basik-special-red);
}

.button-link:active {
  background-color: var(--basik-dark-red);
}

.new:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../img/new.svg");
  background-position: right top;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
}

/* Header */
/** Top-menu **/

.top-menu {
  background-color: var(--basik-extra-gray);
}

.logo {
  background-color: var(--basik-red);
  box-shadow: inset 0 -5px 0 var(--basik-shadow-black);
}

.logo:active {
  background-color: var(--basik-dark-red);
}

.search {
  position: relative;
}

.search label:before {
  content: url("../img/icons/icon-search.svg");
  opacity: 0.3;
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  left: 3px;
}

.search-input {
  background-color: var(--basik-extra-gray);
  color: var(--basik-white);
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 400;
  padding-left: 25px;
}

.search-input::placeholder {
  color: var(--basik-white);
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 400;
}

.header-bookmark:before {
  content: url("../img/icons/icon-bookmark.svg");
  opacity: 0.3;
}

.header-cart:before {
  content: url("../img/icons/icon-cart.svg");
  opacity: 0.3;
}

.full-cart {
  background-color: var(--basik-red);
}

.header-bookmark:active,
.header-cart:active {
  background-color: var(--basik-extra-black);
}

.header-cart:hover:before,
.header-bookmark:hover:before,
.search label:hover:before {
  opacity: 1;
}

.header-order {
  background-color: var(--basik-green);
}

.header-order:hover {
  background-color: var(--basik-special-green);
}

.header-order:active {
  color: var(--basik-transparent-gray-white);
}

.search-input:focus {
  border: none;
  outline: none;
  color: var(--basik-black);
  background-color: var(--basik-white);
}

.search-input:focus ~ label:before {
  content: url("../img/icons/icon-search-red.svg");
}

.search-input:hover ~ label:before {
  opacity: 1;
  cursor: pointer;
}

.search-input:hover {
  cursor: pointer;
}

/** Header-info **/

.header-info {
  background-color: var(--basik-lightdim-gray);
}

.title {
  color: var(--basik-red);
  margin: 0;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.header-contacts-phone {
  color: var(--basik-red);
  border: 3px solid var(--basik-white);
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
}

.header-contacts-phone {
  background: url("../img/icons/tel.svg") no-repeat left center;
  padding-left: 25px;
}

.header-contacts address {
  color: var(--basik-dark-gray);
  font-size: 14px;
  font-style: normal;
}

.user a {
  background-color: var(--basik-white);
  color: var(--basik-black);
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

.user a:hover {
  color: var(--basik-red);
}

.user a:active {
  color: var(--basik-tru-gray);
}

.user-login {
  background: url("../img/icons/icon-login.svg") no-repeat left center;
  padding-left: 25px;
}

/** Main-navigation **/

.main-navigation {
  background-color: var(--basik-dark-gray);
  box-shadow: inset 0 -5px 0 var(--basik-extra-gray);
}

.main-navigation li:hover {
  background-color: var(--basik-extra-gray);
  cursor: pointer;
}

.main-navigation li:active {
  background-color: var(--basik-super-extra-dark);
  color: var(--basik-transparent-gray-white);
  font-weight: 400;
}

.site-navigation li {
  display: inline-block;
  padding: 16px 28px 20px 28px;
}

/* Main */
/** Products **/

.products-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.products-item {
  width: 300px;
  position: relative;
  padding: 30px 0 30px 20px;
}

.products-link {
  color: white;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basik-transparent-white);
}

.products-link:hover {
  background-color: var(--basik-transparent-gray);
}

.products-link:active {
  background-color: var(--basik-transparent-dimgray);
}

.product-item-material {
  background: var(--basik-yellow) url("../img/icons/icon-material.svg") no-repeat 70% center;
}

.product-item-instrument {
  background: var(--basik-ligth-blue) url("../img/icons/icon-instrument.svg") no-repeat 70% center;
}

.product-item-technics {
  background: var(--basik-purpur) url("../img/icons/icon-technika.svg") no-repeat 70% center;
}

.slider-product-item {
  width: 620px;
  position: relative;
}

.slider-item-perforators {
  background-image: url("../img/perforator.jpg");
}

.slider-item-drills {
  background-image: url("../img/drelli.jpg");
}

.slider-product-item h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
  padding-top: 20px;
}

.button-link-slider{
  position: absolute;
  bottom:20px;
  left:20px;
  padding:10px 20px;
}

.slider-product-item p{
  padding-bottom: 168px;
  margin-bottom: 0;
}

.arrow {
  background: var(--basik-transparent-black) url("../img/icons/arrow-left.svg") no-repeat ;
  position: absolute;
  bottom: 120px;
  cursor: pointer;
  border: none;
  width: 22px;
  height: 40px;
  top:50%;
}

.arrow:focus,
.dots:focus {
  outline: none;
}

.slider-arrow-left {
  left: 10px;

}

.slider-arrow-right {
  transform: rotate(180deg);
  right: 10px;
}

.slider-dots {
  width: 50px;
  height: 10px;
  text-align: center;
  position: absolute;
  bottom: 25px;
  left: 45%;
}

.dots {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
}

.no-active-dots {
  background-color: var(--basik-white);
  border: none;
}

.active-dots {
  background: var(--basik-red);
  position: relative;
  top: -2px;
  border: 2px solid var(--basik-white);
}

.products-item-discounts {
  background: var(--basik-light-green) url("../img/icons/icon-skidka.svg") no-repeat 70% center;
}

.products-item-delivery {
  background: var(--basik-extra-yellow) url("../img/icons/icon-dostavka.svg") no-repeat 70% center;
}

/** Popular products **/

.background-style {
  background-color: var(--basik-neitral);
}

.background-style h2 {
  color: var(--basik-dark-gray);
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-products-item {
  display: inline-block;
  border: 1px solid var(--basik-softdim-gray);
  background-color: var(--basik-white);
  box-sizing: border-box;
  width: 220px;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  position: relative;
}

.popular-products-button {
  display: none;
  width: 220px;
}

.popular-products-image {
  width: 220px;
}

.popular-products-item del {
  color: var(--basik-dim-gray);
  display: block;
  margin: 0 auto;
}

.products-item-link {
  font-size: 18px;
  line-height: 20px;
  color: var(--basik-black);
}

.products-item-price {
  display: block;
  margin: 0 auto;
  background-image: url("../img/icons/red-button.svg");
  width: 141px;
  height: 38px;
  text-align: center;
  line-height: 38px;
}

.button-buy,
.button-bookmark {
  background: var(--basik-white);
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basik-white);
  border: none;
  cursor: pointer;
  outline: none;
  width: 135px;
  height: 38px;
}

.button-buy:hover {
  background-color: var(--basik-special-green);
}

.button-buy:active {
  background-color: var(--basik-dark-green);
}

.button-bookmark {
  border: 3px solid var(--basik-green);
  color: var(--basik-dark-gray);
}

.button-bookmark:hover {
  border: 3px solid var(--basik-dark-gray);
  color: var(--basik-dark-gray);
}

.button-bookmark:active {
  opacity: 0.5;
}

.button-buy {
  background: var(--basik-green) url("../img/icons/icon-cart.svg") no-repeat 30% center;
  padding-left: 20px;
  box-shadow: inset 0 -3px 0 var(--basik-inner-green);
  border-radius: 2px;
  margin: 38px 0 10px 0;
}

.popular-products-item:hover .popular-products-image {
  display: none;
}

.popular-products-item:hover .popular-products-button {
  display: block;
}

.popular-products-item:hover {
  box-shadow: 0 4px 20px var(--basik-shadow-gray);
}

/** Popular manufactures **/

.popular-manufactures-list {
  background: var(--basik-white);
  text-align: center;
}

.popular-manufactures-item {
  display: inline-block;
  width: 220px;
  height: 145px;
  box-sizing: border-box;
  border: 1px solid var(--basik-softdim-gray);
}

.popular-manufactures-item:hover {
  box-shadow: 0 4px 20px 0 var(--basik-shadow-gray);
}

.popular-manufactures-item:active {
  opacity: 0.5;
}

/** Servise **/

.servise {
  background-color: var(--basik-light-gray);
  color: var(--basik-black);
}

.servise h2,
.slider-item h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.servise-item-text,
.servise-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.servise-slider {
  width: 240px;
  position: relative;
}

.servise-slider:after {
  content: "";
  background-image: url("../img/shadow-service.png");
  width: 10px;
  height: 279px;
  display: block;
  position: absolute;
  bottom: -50px;
  right: 1px;
}

.servise-slider li {
  color: var(--basik-white);
  background-color: var(--basik-dark-gray);
  cursor: pointer;
  line-height: 30px;
  font-weight: 700;
  font-size: 21px;
  padding: 15px 0 15px 30px;
}

.servise-slider .active-servise-item {
  color: var(--basik-dark-gray);
  background-color: var(--basik-white);
}

.servise-item-text,
.slider-item h3 {
  color: var(--basik-dark-gray);
}

.servise-slider .no-active-servise-item:hover {
  background-color: var(--basik-extra-gray);
 }

.slider-item-delivery {
  background: url("../img/dostavka-service.png") no-repeat;
}

.slider-item-guarantee {
  background: url("../img/garantii-service.png") no-repeat;
}

.slider-item-credit {
  background: url("../img/credit-service.png") no-repeat;
}

/** Information **/

.information,
.information-contacts {
  background-color: var(--basik-white);
  color: var(--basik-black);
}

.information h2,
.information-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basik-black);
}

.information p,
.information-contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.information-delivery-list {
  list-style-image: url("../img/icons/red-line-slider.svg");
  padding-left: 50px;
}

/* Footer */

.main-footer {
  background-color: var(--basik-dark-gray);
}

.footer-contacts .logo {
  display: block;
  width: 220px;
  text-align: center;
  padding: 20px 10px;
}

.footer-contacts address {
  font-style: normal;
}

.main-footer a:hover {
  text-decoration: underline;
}

.footer-site-navigation a:active {
  opacity: 0.5;
}

.bottom-footer-nav,
.footer-email a,
.footer-copyright a {
  color: var(--basik-light-yellow);
}

.footer-email a:active,
.footer-copyright a:active {
  color: var(--basik-red);
}

.footer-social {
  background-color: var(--basik-extra-gray);
}

.footer-social p {
  font-size: 16px;
  line-height: 18px;
}

.social-button {
  display: block;
  background-color: var(--basik-dark-blue);
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-button:hover {
  background-color: var(--basik-red);
}

.vk {
  background-image: url("../img/icons/icon-vk.svg");
}

.facebook {
  background-image: url("../img/icons/icon-fb.svg");
}

.instagram {
  background-image: url("../img/icons/icon-insta.svg");
}

/** Modal form **/

.modal {
  background-image: linear-gradient(to bottom, var(--basik-white), var(--basik-white) 70%, var(--basik-form-gray) 70%, var(--basik-form-gray));
  border-top: 7px solid var(--basik-red);
}

.modal-form {
  width: 620px;
  position: relative;
}

.form-user {
  background-image: linear-gradient(to top bottom, var(--basik-white), var(--basik-red));
}
.form-user input,
.form-user textarea {
  border: 2px solid var(--basik-tru-gray);
  box-sizing: border-box;
  border-radius: 2px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basik-dim-gray);
}

.form-user label {
  color: var(--basik-black);
}

.button-close {
  display: block;
  width: 21px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  background: var(--basik-white) url("../img/icons/icon-close.svg") no-repeat right top;
  border: none;
}

.button-close-form {
  top: 10px;
  right: 10px;
}

.button-submit {
  border: none;
  outline: none;
}
