/* Variables */

:root{
  --basik-yellow:#ffbf47;
  --basik-light-yellow:#ffd180;
  --basik-extra-yellow:#ffc047;
  --basik-red:#ee3643;
  --basik-dark-red:#ba2732;
  --basik-special-red:#ca2c37;
  --basik-green:#63a63e;
  --basik-light-green:#8ed78f;
  --basik-dark-green:#518534;
  --basik-inner-green:#367315;
  --basik-special-green:#5fbb2d;
  --basik-ligth-blue:#3bbce3;
  --basik-purpur:#dc91d8;
  --basik-extra-gray:#293449;
  --basik-dark-blue:#212a3a;
  --basik-extra-black:#161d29;
  --basik-super-extra-dark:#1d2739;
  --basik-dark-gray:#32425c;
  --basik-special-gray:#3d546f;
  --basik-black:#000000;
  --basik-tru-dark:#444444;
  --basik-dim-gray:#a9a9a9;
  --basik-white:#ffffff;
  --basik-gray:#b7bfc8;
  --basik-light-gray:#f1f5f7;
  --basik-tru-gray:#c5c5c5;
  --basik-super-gray:#b5b5b5;
  --basik-soft-gray:#c1c6ce;
  --basik-form-gray:#f4f4f4;
  --basik-softdim-gray:#eaeaea;
  --basik-light-dark:#f2f6f8;
  --basik-lightdim-gray:#f3f7f9;
  --basik-sand-yellow:#f7f3ec;
  --basik-neitral:#f9f5f0;
  --basik-transparent-black:rgba(0, 0, 0, 0.0001);
  --basik-transparent-white:rgba(255, 255, 255, 0.3);
  --basik-transparent-gray-white:rgba(255, 255, 255, 0.5);
  --basik-transparent-gray:rgba(197, 197, 197, 0.3);
  --basik-transparent-dimgray:rgba(169, 169, 169, 0.3);
}

/* Global */

.page-body{
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height:24px;
  font-weight: 400;
  color: var(--basik-white);
  background-color: var(--basik-black);
}
a{
  text-decoration: none;
  color:var(--basik-white);
}
img{
  max-width:100%;
  height:auto;
}
ul{
   list-style-type:none;
   margin: 0;
   padding: 0;
 }
.hidden{
  display:none;
  margin: 0;
}

/* Header */
/** Top-menu **/

.top-menu{
  background-color:var(--basik-extra-gray);
}
.logo{
  background-color:var(--basik-red);
}
.logo:active{
  background-color:var(--basik-dark-red);
}
.search label:before{
  content: url("../img/icons/icon-search.svg");
  opacity: 0.3;
  background-repeat: no-repeat;
  position: relative;
  top:3px;
  left:-195px;
}
input[type=search]{
  background-color:var(--basik-extra-gray);
  color:var(--basik-white);
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 400;
  padding-left: 25px;
}

input[type=search]::placeholder{
  color:var(--basik-white);
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 400;
}
.header-bookmark:before{
  content: url("../img/icons/icon-bookmark.svg");
  opacity:0.3;
}
.header-cart:before{
  content: url("../img/icons/icon-cart.svg");
  opacity: 0.3;
}
.header-bookmark:active,
.header-cart:active{
  background-color: var(--basik-extra-black);
}
.header-cart:hover:before,
.header-bookmark:hover:before,
.search label:hover:before{
  opacity:1;
}
.header-order{
  background-color:var(--basik-green);
}
.header-order:hover{
  background-color:var(--basik-special-green);
}
.header-order:active{
  color:var(--basik-transparent-gray-white);
}
input[type=search]:focus{
  border:none;
  outline: none;
  color:var(--basik-black);
  background-color: var(--basik-white);
}
input[type=search]:focus ~ label:before{
  content: url("../img/icons/icon-search-red.svg");

}
input[type=search]:hover ~ label:before{
  opacity: 1;
}

/** Header-info **/

.header-info{
  background-color:var(--basik-lightdim-gray);
}
.title{
  color:var(--basik-red);
  margin:0;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
.header-contacts-phone{
  color:var(--basik-red);
  border:3px solid var(--basik-white);
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
}
.header-contacts-phone:before{
  content:url("../img/icons/tel.svg");
  fill:var(--basik-gray);
}
.header-contacts address{
  color:var(--basik-dark-gray);
  font-size: 14px;
  font-style: normal;
}
.user a{
  background:var(--basik-white);
  color: var(--basik-black);
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

.user a:hover{
  color: var(--basik-red);
}
.user a:active{
  color:var(--basik-tru-gray);
}
.user-login:before{
  content:url("../img/icons/icon-login.svg");
}

/** Main-navigation **/

.main-navigation{
  background-color:var(--basik-dark-gray);
}
.main-navigation a:hover{
  background-color:var(--basik-extra-gray);
}
.main-navigation a:active{
  background-color:var(--basik-super-extra-dark);
  color: var(--basik-transparent-gray-white);
}

/* Main */
/**Products **/

.products-item{
  display:block;
  width: 300px;
  height: 123px;
}
.products-item h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
}
.products-item:nth-child(1){
  background-color: var(--basik-yellow);
  background-image: url("../img/new.svg");
  background-position: right top;
  background-repeat: no-repeat;
}
.products-item:nth-child(1):after{
  content: url("../img/icons/icon-material.svg");
}
.products-link,
.button-link{
  color:white;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}
.products-link{
  background-color:var(--basik-transparent-white);
}
.products-link:hover{
  background-color:var(--basik-transparent-gray);
}
.products-link:active{
  background-color:var(--basik-transparent-dimgray);
}
.products-item:nth-child(2){
  background-color: var(--basik-ligth-blue);
}
.products-item:nth-child(2):after{
  content: url("../img/icons/icon-instrument.svg");
}
.products-item:nth-child(3){
  background-color: var(--basik-purpur);
}
.products-item:nth-child(3):after{
  content: url("../img/icons/icon-technika.svg");
}
.products-item:nth-child(4){
  background-image: url("../img/perforator.jpg");
}
.slider-item{
  width: 620px;
  height: 266px;
}
.button-link{
  background-color: var(--basik-red);
}
.products-item .button-link:hover{
  background-color: var(--basik-special-red);
}
.products-item .button-link:active{
  background-color: var(--basik-dark-red);
}

.slider-item h3{
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.slider-item:before{
  content: url("../img/icons/arrow-left.svg");
  position: relative;
  top: 120px;
  left:10px;
}
.slider-item:after{
  content: url("../img/icons/arrow-left.svg");
  transform: rotate(180deg);
  display:block;
  position: relative;
  top:-70px;
  left:-20px;
}
.slider{
  position: relative;
  top:50px;
  left:310px;
  background-repeat: no-repeat;
  width: 30px;
  height: 10px;
}
.products-item:nth-child(4) .slider{
  background-image:url("../img/icons/slider-dots-red.svg"),
                   url("../img/icons/slider-dots-white.svg"),
                   url("../img/icons/slider-dots-white.svg");
  background-position:2px 2px, 20px 0, 0 0;
}
.products-item:nth-child(5) .slider{
  background-image:url("../img/icons/slider-dots-red.svg"),
                   url("../img/icons/slider-dots-white.svg"),
                   url("../img/icons/slider-dots-white.svg");
  background-position:22px 2px, 20px 0, 0 0;
}
.products-item:nth-child(5){
  background-image: url("../img/drelli.jpg");
}
.products-item:nth-child(6){
  background-color: var(--basik-light-green);
}
.products-item:nth-child(6):after{
  content: url("../img/icons/icon-skidka.svg");
}
.products-item:nth-child(7){
  background-color: var(--basik-extra-yellow);
}
.products-item:nth-child(7):after{
  content: url("../img/icons/icon-dostavka.svg");
}

/** Popular products **/

.background-style{
  background-color:var(--basik-neitral);
}
.background-style h2{
  color:var(--basik-dark-gray);
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.popular-products-item{
  border: 1px solid var(--basik-softdim-gray);
  background-color: var(--basik-white);
  box-sizing: border-box;
  width: 220px;
  height: 318px;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
.popular-products-item del{
  color:var(--basik-dim-gray);
  display: block;
  margin:0 auto;
}
.products-item-link{
  font-size: 18px;
  line-height: 20px;
  color:var(--basik-black);
}
.products-item-price{
  display: block;
  margin:0 auto;
  background-image: url("../img/icons/red-button.svg");
  width: 141px;
  height: 38px;
  text-align: center;
  line-height: 38px;
}
.popular-products-item:nth-child(2),
.popular-products-item:nth-child(4){
  background-image: url("../img/new.svg");
  background-repeat: no-repeat;
  background-position: right top;
 }
.button-buy,
.button-bookmark{
  background: var(--basik-white);
  border-radius: 2px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basik-white);
  border:none;
}
.button-buy:hover{
  background-color: var(--basik-special-green);
}
.button-buy:active{
  background-color: var(--basik-dark-green);
}
.button-bookmark{
  border: 3px solid var(--basik-green);
  color: var(--basik-dark-gray);
}
.button-bookmark:hover{
  border: 3px solid var(--basik-dark-gray);
  color: var(--basik-dark-gray);
}
.button-bookmark:active{
  opacity:0.5;
}
.button-buy{
  background: var(--basik-green);
  box-shadow: inset 0 -3px 0 var(--basik-inner-green);
}
.button-buy:before{
  content: url("../img/icons/icon-cart.svg");
}

/** Popular manufactures **/

.popular-manufactures-list{
  background: var(--basik-white);
  text-align: center;
}
.popular-manufactures-item{
  display: block;
  width:220px;
  height:145px;
  box-sizing: border-box;
  border: 1px solid var(--basik-softdim-gray);
}

/** Servise **/

.servise{
  background-color: var(--basik-light-gray);
  color:var(--basik-black)
}
.servise h2,
.servise-slider-item h3{
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.servise-item-text,
.servise-text{
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}
.servise-slider li{
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basik-dark-gray);
  background-color: var(--basik-white);
}

.servise-item-text,
.servise-slider-item h3{
  color: var(--basik-dark-gray);
}
.servise-slider li:not(:first-child){
  color: var(--basik-white);
  background-color: var(--basik-dark-gray);
}
.servise-slider li:not(:first-child):hover{
   background-color: var(--basik-extra-gray);
 }
.servise-slider-item{
  background-repeat: no-repeat;
}
.servise-slider-item:nth-of-type(1){
  background-image: url("../img/dostavka-service.png");
}
.servise-slider-item:nth-of-type(2){
  background-image: url("../img/garantii-service.png");
}
.servise-slider-item:nth-of-type(3){
  background-image: url("../img/credit-service.png");
}

/**  Information **/

.information,
.information-contacts{
  background-color: var(--basik-white);
  color:var(--basik-black);
}

.information h2,
.information-contacts h2{
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color:var(--basik-black);
}
.information p,
.information-contacts p{
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}
.information-delivery-list{
  list-style-image:url("../img/icons/red-line-slider.svg");
  padding-left:50px;
}

/* Footer */

.main-footer{
  background-color: var(--basik-dark-gray);
}
.footer-contacts .logo{
  display: block;
  width: 220px;
  height: 68px;
  text-align: center;
  line-height: 80px;
}
.footer-contacts address{
  font-style: normal;
}
.main-footer a:hover{
  text-decoration:underline;
}
.footer-site-navigation a:active{
  opacity: 0.5;
}
.bottom-footer-nav,
.footer-email a,
.footer-copyright a{
  color: var(--basik-light-yellow);
}
.footer-email a:active,
.footer-copyright a:active{
  color: var(--basik-red);
}
.footer-social{
  background-color: var(--basik-extra-gray);
}

.footer-social p{
  font-size: 16px;
  line-height: 18px;
}
.social-button{
  display: block;
  background-color: var(--basik-dark-blue);
  width: 44px;
  height: 44px;
  border-radius:22px;
  background-repeat: no-repeat;
  background-position: center center;
}
.social-button:hover{
   background-color: var(--basik-red);
}
.vk{
  background-image: url("../img/icons/icon-vk.svg");
}
.facebook{
  background-image: url("../img/icons/icon-fb.svg");
}
.instagram{
  background-image: url("../img/icons/icon-insta.svg");
}

/* Modal form */

.modal-form{
  display: block;
  width: 620px;
  height: 430px;
  background-image:linear-gradient(to bottom,var(--basik-white),var(--basik-white) 70%,var(--basik-form-gray) 70%,var(--basik-form-gray));
  border-top: 7px solid var(--basik-red);
}
.form-user{
  background-image:linear-gradient(to top bottom,var(--basik-white),var(--basik-red));
}
.form-user input,
.form-user textarea{
  border: 2px solid #C5C5C5;
  box-sizing: border-box;
  border-radius: 2px;
}
.form-user textarea{
  resize: none;
  overflow: auto;
}
.form-user input[type=text],
.form-user textarea{
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basik-dim-gray);
}
.form-user label{
  color:var(--basik-black);
}
.button-close{
  display: block;
  width: 21px;
  height: 22px;
  position: relative;
  top:-220px;
  left:580px;
  background-image: url("../img/icons/icon-close.svg");
  background-color: var(--basik-white);
  background-repeat: no-repeat;
  background-position: right top;
  border:none;
}



