/* Variables */

:root {
  --basik-yellow: #ffbf47;
  --basik-light-yellow: #ffd180;
  --basik-extra-yellow: #ffc047;
  --basik-red: #ee3643;
  --basik-dark-red: #ba2732;
  --basik-special-red: #ca2c37;
  --basik-green: #63a63e;
  --basik-light-green: #8ed78f;
  --basik-dark-green: #518534;
  --basik-inner-green: #367315;
  --basik-special-green: #5fbb2d;
  --basik-ligth-blue: #3bbce3;
  --basik-purpur: #dc91d8;
  --basik-extra-gray: #293449;
  --basik-dark-blue: #212a3a;
  --basik-extra-black: #161d29;
  --basik-super-extra-dark: #1d2739;
  --basik-dark-gray: #32425c;
  --basik-special-gray: #3d546f;
  --basik-black: #000000;
  --basik-tru-dark: #444444;
  --basik-dim-gray: #a9a9a9;
  --basik-white: #ffffff;
  --basik-gray: #b7bfc8;
  --basik-light-gray: #f1f5f7;
  --basik-tru-gray: #c5c5c5;
  --basik-super-gray: #b5b5b5;
  --basik-backgraund-gray: #e5e5e5;
  --basik-soft-gray: #c1c6ce;
  --basik-form-gray: #f4f4f4;
  --basik-softdim-gray: #eaeaea;
  --basik-light-dark: #f2f6f8;
  --basik-lightdim-gray: #f3f7f9;
  --basik-sand-yellow: #f7f3ec;
  --basik-neitral: #f9f5f0;
  --basik-transparent-black: rgba(0, 0, 0, 0.0001);
  --basik-transparent-white: rgba(255, 255, 255, 0.3);
  --basik-transparent-gray-white: rgba(255, 255, 255, 0.5);
  --basik-transparent-gray: rgba(197, 197, 197, 0.3);
  --basik-transparent-dimgray: rgba(169, 169, 169, 0.3);
  --basik-shadow-black: rgba(0, 0, 0, 0.24);
  --basik-shadow-gray: rgba(0, 0, 0, 0.15);
}

/* Global */

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 960px;
  min-height: 100%;
  color: var(--basik-white);
  background-color: var(--basik-white);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--basik-white);
}

img {
  max-width: 100%;
  height: auto;
}

.clear-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0;
  height: 1px;
  margin: -1px;
}

.button-link {
  background-color: var(--basik-red);
  color: var(--basik-white);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
}

.button-link:hover {
  background-color: var(--basik-special-red);
}

.button-link:active {
  background-color: var(--basik-dark-red);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.page {
  height: 100%;
}

/* Header */
/** Top-menu **/

.top-menu {
  background-color: var(--basik-extra-gray);
  margin-bottom: 41px;
}

.container-top-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-header {
  background-color: var(--basik-light-gray);
  margin-bottom: 50px;
}

.catalog-header {
  margin-bottom: 0;
}

.logo {
  display: flex;
  justify-content: center;
  width: 220px;
  background-color: var(--basik-red);
  padding: 12px 0;
}

.logo img {
  width: 108px;
  height: 18px;
}

.logo:active {
  background-color: var(--basik-dark-red);
}

.search {
  display: flex;
  width: 270px;
}

.search label {
  opacity: 0.3;
}

.search-input {
  background-color: var(--basik-extra-gray);
  color: var(--basik-white);
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 42px;
}

.search-input::placeholder {
  color: var(--basik-white);
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.header-bookmark,
.header-cart,
.header-order {
  width: 150px;
  text-align: center;
  padding-top: 9px;
}

.full-cart {
  background-color: var(--basik-red);
}

.header-bookmark:active,
.header-cart:active {
  background-color: var(--basik-extra-black);
  color: var(--basik-transparent-gray-white);
}

.header-order {
  background-color: var(--basik-green);
}

.header-order:hover {
  background-color: var(--basik-special-green);
}

.header-order:active {
  color: var(--basik-transparent-gray-white);
}

.search-input:focus {
  border: none;
  outline: none;
  color: var(--basik-black);
  background-color: var(--basik-white);
}

.search-input:hover {
  cursor: pointer;
}

/** Header-info **/

.container-header-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header-info {
  background-color: var(--basik-lightdim-gray);
  padding-bottom: 60px;
}

.title {
  color: var(--basik-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  margin:0 0 0 30px;
}

.header-contacts-phone {
  display: block;
  color: var(--basik-red);
  border: 3px solid var(--basik-white);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.header-contacts address {
  color: var(--basik-dark-gray);
  font-size: 14px;
  font-style: normal;
}

.user {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 299px;
}

.user-catalog-page {
  flex-wrap: wrap;
}

.user a {
  background-color: var(--basik-white);
  color: var(--basik-black);
  font-size: 21px;
  line-height: 21px;
  padding: 12px 24px;
}

.user .user-login {
  padding-left: 45px;
}

.user a:hover {
  color: var(--basik-red);
}

.user a:active {
  color: var(--basik-tru-gray);
}

.user .user-order,
.user .personal-account {
  background-color: var(--basik-lightdim-gray);
  color: var(--basik-dark-gray);
  font-size: 14px;
  line-height: 18px;
}

.personal-account {
  padding-left: 40px;
}

.user .user-fullname {
  display: block;
  padding: 12px 56px;
}

.user-cabinet {
  display: flex;
  justify-content: space-around;
  width: 299px;
}

/** Main-navigation **/

.site-navigation {
  display: flex;
  justify-content: space-between;
  background-color: var(--basik-dark-gray);
}

.main-navigation {
  width: 100%;
  margin-top: 40px;
}

.main-navigation a:hover {
  background-color: var(--basik-extra-gray);
}

.main-navigation a:active {
  background-color: var(--basik-super-extra-dark);
  color: var(--basik-transparent-gray-white);
  font-weight: 400;
}

.site-navigation a {
  display: block;
  padding: 16px 28px 20px 28px;
}

/* Main */
/** Products **/

.page-main {
  padding-bottom: 70px;
}

.container-page-main {
  margin-bottom: 30px;
}

.products {
  margin-bottom: 60px;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.products-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 14px 0;
}

.products-item {
  padding: 20px 0 21px 23px;
}

.products-link {
  background-color: var(--basik-transparent-white);
  color: var(--basik-white);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 24px;
}

.products-link:hover {
  background-color: var(--basik-transparent-gray);
}

.products-link:active {
  background-color: var(--basik-transparent-dimgray);
}

.product-item-material {
  background: var(--basik-yellow) url("../img/icons/icon-material.svg") no-repeat 80% center;
}

.product-item-instrument {
  background: var(--basik-ligth-blue) url("../img/icons/icon-instrument.svg") no-repeat 80% center;
}

.product-item-technics {
  background: var(--basik-purpur) url("../img/icons/icon-technika.svg") no-repeat 80% center;
}

.slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.slider-product-item {
  display: none;
  background-size: cover;
  padding: 23px 0 27px 24px;
}

.active-products-item {
  display: block;
}

.slider-item-perforators {
  background: var(--basik-white) url("../img/perforator.jpg") no-repeat;
}

.slider-item-drills {
  background: var(--basik-white) url("../img/drelli.jpg") no-repeat;
}

.slider-product-item h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 9px 0;
}

.slider-product-item p {
  margin: 0 0 113px 0;
}

.products-item-discounts {
  background: var(--basik-light-green) url("../img/icons/icon-skidka.svg") no-repeat 80% center;
}

.products-item-delivery {
  background: var(--basik-extra-yellow) url("../img/icons/icon-dostavka.svg") no-repeat 80% center;
}

/** Popular products **/

.background-style {
  display: flex;
  justify-content: space-between;
  background-color: var(--basik-neitral);
  align-items: center;
  padding: 30px 25px;
  margin-bottom: 20px;
}

.background-style h2 {
  color: var(--basik-dark-gray);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.popular-products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 70px;
}

.popular-products-item {
  width: 220px;
  background-color: var(--basik-white);
  border: 1px solid var(--basik-softdim-gray);
  box-sizing: border-box;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  padding-bottom: 21px;
}

.popular-products-image {
  width: 220px;
  height: 170px;
  position: relative;
}

.popular-products-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popular-products-item del {
  display: block;
  color: var(--basik-dim-gray);
}

.products-item-link {
  font-size: 18px;
  line-height: 20px;
  color: var(--basik-black);
}

.products-item-price {
  display: block;
  width: 141px;
  background-image: url("../img/icons/red-button.svg");
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
}

.button-buy,
.button-bookmark {
  width: 135px;
  height: 38px;
  color: var(--basik-white);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-buy {
  background: var(--basik-green);
  border-radius: 2px;
  padding:0 0 0 20px;
  margin: 0 0 10px 0;
}

.button-bookmark {
  background: var(--basik-white);
  padding: 0;
}

.button-buy:hover {
  background-color: var(--basik-special-green);
}

.button-buy:active {
  background-color: var(--basik-dark-green);
}

.button-bookmark {
  color: var(--basik-dark-gray);
  border: 3px solid var(--basik-green);
}

.button-bookmark:hover {
  color: var(--basik-dark-gray);
  border: 3px solid var(--basik-dark-gray);
}

.button-bookmark:active {
  opacity: 0.5;
}

/** Popular manufactures **/

.popular-manufactures-list {
  background: var(--basik-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.popular-manufactures-item a {
  display: block;
  position: relative;
  width: 220px;
  height: 145px;
  border: 1px solid var(--basik-softdim-gray);
}

.popular-manufactures-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popular-manufactures-item:active {
  opacity: 0.5;
}

/** Service **/

.container-service {
  padding-bottom: 100px;
}

.service {
  color: var(--basik-black);
  background-color: var(--basik-light-gray);
  padding-top: 62px;
}

.service h2,
.slider-item h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.service h2 {
  margin-bottom: 10px;
}

.slider-item h3 {
  margin-bottom: 10px;
}

.service-text {
  margin:0 0 70px 0;
}

.service-item-text,
.service-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.service-item-text {
  margin: 0;
}

.service-slider {
  display: flex;
}

.service-slider-buttons button {
  display: block;
  width: 240px;
  color: var(--basik-white);
  background-color: var(--basik-dark-gray);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  border: none;
  outline: none;
  padding: 15px 0 15px 30px;
}

.service-slider-buttons {
  margin:0 80px 0 0;
}

.service-slider-buttons .active-service-button {
  color: var(--basik-dark-gray);
  background-color: var(--basik-white);
}

.service-item-text,
.slider-item h3 {
  color: var(--basik-dark-gray);
}

.service-slider-buttons .no-active-service-button:hover {
  background-color: var(--basik-extra-gray);
}

.slider-item {
  display: none;
  width: 619px;
}

.active-slider {
  display: block;
}

.slider-item-delivery {
  background: var(--basik-light-gray) url("../img/dostavka-service.png") no-repeat right;
}

.slider-item-guarantee {
  background: var(--basik-light-gray) url("../img/garantii-service.png") no-repeat right;
}

.slider-item-credit {
  background: var(--basik-light-gray) url("../img/credit-service.png") no-repeat right;
}

/** Information **/

.index-information {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.information,
.information-contacts {
  background-color: var(--basik-white);
  color: var(--basik-black);
}

.information h2,
.information-contacts h2 {
  color: var(--basik-black);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
}

.information p,
.information-contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.information-delivery-list {
  padding-left: 40px;
  margin-bottom: 20px;
}

.information-delivery-list li {
  margin-bottom: 12px;
}

.information-delivery-list li:last-child {
  margin: 0;
}

.button-link-company {
  padding: 10px 40px;
}

.information-contacts {
  width: 300px;
}

.information-contacts p {
  margin-bottom: 20px;
}

.contacts-small-map {
  display: block;
  margin-bottom: 20px;
}

.button-link-map {
  display: block;
}

/* Footer */

.main-footer {
  background-color: var(--basik-dark-gray);
}

.footer-logo {
  padding: 21px 42px 25px 42px;
  margin-bottom: 20px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 54px;
}

.footer-contacts-info address {
  font-style: normal;
}

.footer-contacts ul {
  display: flex;
  justify-content: space-between;
}

.footer-navigation a {
  margin-left: 58px;
}

.top-footer-navigation {
  margin: 37px 0 34px 0;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}

.bottom-footer-navigation a,
.footer-email a,
.footer-copyright a {
  color: var(--basik-light-yellow);
}

.footer-email a:active,
.footer-copyright a:active {
  color: var(--basik-red);
}

.footer-social {
  background-color: var(--basik-extra-gray);
}

.container-footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-social-list {
  display: flex;
}

.footer-social p {
  font-size: 16px;
  line-height: 18px;
}

.social-button {
  display: block;
  width: 44px;
  height: 44px;
  background: var(--basik-dark-blue) no-repeat center center;
  border-radius: 22px;
}

.social-button:hover {
  background-color: var(--basik-red);
}

.vk {
  background-image: url("../img/icons/icon-vk.svg");
}

.facebook {
  background-image: url("../img/icons/icon-fb.svg");
}

.instagram {
  background-image: url("../img/icons/icon-insta.svg");
}

.footer-email {
  width: 137px;
  margin: 35px 0;
}

.footer-copyright {
  margin: 0 10px 0 30px;
  width: 98px;
}

/** Modal form **/

.modal {
  background-image: linear-gradient(to bottom, var(--basik-white), var(--basik-white) 80%, var(--basik-form-gray) 80%, var(--basik-form-gray));
  border-top: 7px solid var(--basik-red);
}

.modal-form {
  width: 620px;
  margin: 0 auto;
}

.form-user {
  background-image: linear-gradient(to top bottom, var(--basik-white), var(--basik-red));
  margin: 45px auto 0 auto;
  width: 460px;
}

.form-user input,
.form-user textarea {
  border: 2px solid var(--basik-tru-gray);
  border-radius: 2px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basik-dim-gray);
}

.form-user label {
  color: var(--basik-black);
}

.button-submit {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 20px 0 10px 0;
}

/* Catalog.html */

.main-part-catalog {
  display: flex;
  padding-bottom: 59px;
}

.page-catalog {
  padding-top: 21px;
}

/** Breadcrumbs **/

.breadcrumbs a {
  color: var(--basik-black);
  margin-right: 40px;
}

.breadcrumbs {
  display: flex;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 0;
  margin: 0 0 21px 0;
}

/** Filters **/

.subtitle {
  color: var(--basik-dark-gray);
  background-color: var(--basik-light-dark);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 30px;
  margin: 0 0 20px 0;
}

.form-filters {
  width: 220px;
}

.filters {
  color: var(--basik-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 20px;
}

.filters h3 {
  width: 200px;
  background-color: var(--basik-sand-yellow);
  font-weight: 400;
  padding: 10px 0 10px 20px;
  margin-top: 0;
}

.filters-options {
  width: 220px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.range-price {
  height: 80px;
}

.container-range {
  width: 100%;
  height: 80px;
  background-color: var(--basik-sand-yellow);
  margin-bottom: 10px;
  padding-left: 45px;
}

.filter-price {
  display: flex;
  flex-wrap: wrap;
  border: none;
  padding: 0;
  margin: 0;
}

.filter-number {
  width: 95px;
  height: 38px;
  text-align: center;
  background-color: var(--basik-sand-yellow);
  font-size: 17px;
  line-height: 18px;
  border: none;
  padding: 0;
}

.dash {
  width: 29px;
  color: var(--basik-tru-dark);
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  margin-top: 10px;
}

.max-number {
  margin-bottom: 25px;
}

.filter-number::-webkit-outer-spin-button,
.filter-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.filter-number,
.filter-number:hover,
.filter-number:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.filter-manufactures,
.filter-power {
  border: none;
  padding: 0;
}

.filter-price,
.filter-manufactures {
  border-bottom: 1px solid var(--basik-softdim-gray);
}

.filter-manufactures-item,
.filter-power-item {
  font-size: 15px;
  line-height: 19px;
  padding: 0 0 20px 30px;
}

.filter-manufactures-item,
.filter-power-item {
  padding-bottom: 30px;
}

.result-filter {
  width: 218px;
  border: 1px solid var(--basik-backgraund-gray);
  background-color: var(--basik-white);
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 0;
}

.sort {
  display: flex;
  align-items: center;
  background-color: var(--basik-sand-yellow);
  margin: 0 0 20px 0;
}

.sort-options {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.sort h3 {
  margin: 0;
  padding: 10px;
}

.sort-options-item a {
  color: var(--basik-black);
  border-bottom: 1px dashed var(--basik-red);
  opacity: 0.3;
}

.sort-options-item a:hover {
  border-bottom: 1px solid var(--basik-red);
  opacity: 1;
}

.sort-item-active a {
  color: var(--basik-red);
  border: none;
  opacity: 1;
}

.sort-item-active a:hover {
  border: none;
}

/**  catalog-card **/

.catalog-card {
  margin-bottom: 70px;
}

.catalog-card-list {
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
}

/**  Pagination  **/

.pagination {
  display: flex;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
}

.pagination-number {
  text-align: center;
  border: 1px solid var(--basik-backgraund-gray);
  padding: 10px 15px;
}

.pagination-number:hover {
  border: 1px solid var(--basik-tru-gray);
}

.pagination-number:active {
  border: 1px solid var(--basik-red);
}

.pagination-number a {
  color: var(--basik-black);
  text-transform: uppercase;
}

.active-number {
  background-color: var(--basik-red);
}

.active-number a {
  color: var(--basik-white);
}

/** Information-item-catalog **/

.information-item-catalog {
  background-color: var(--basik-light-gray);
  color: var(--basik-black);
  padding: 64px 0 68px 0;
}

.information-item-catalog h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.text-product {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

/** Form buy **/

.modal-buy {
  font-family: "Cuprum", Arial, sans-serif;
  width: 620px;
  padding-bottom: 20px;
  position: relative;
}

.button-close-buy {
  top: 20px;
  right: 20px;
}

.modal-buy p {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--basik-black);
  padding: 30px 0 50px 0;
}

.modal-buy p {
  background: var(--basik-transparent-black) url("../img/icons/icon-mark.svg") no-repeat 100px center;
  padding: 30px 0;
  margin-top: 10px;
}

.modal-buy .button-link {
  margin-left: 160px;
}

.continue-buy {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basik-black);
  background-color: var(--basik-white);
  padding: 10px 40px;
  text-transform: uppercase;
}
